<section class="container"  id="myHeader">
  <article class="breedte">
    <a href="#" title="logo" class="logo "><i class="fas fa-beer"></i></a>
    <a href="#" id="hamburger" class="fas fa-ellipsis-v"></a>
    <a href="#" id="cross" class="fas fa-times"></a>
  </article>
  <nav id="navigatie" class="menu">
    <ul>
      <li><a routerLink="" routerLinkActive="active" title="home" class="menu"><p>Home</p></a></li>
      <li><a routerLink="/allebieren" routerLinkActive="active" title="About me" class="menu"><p>Alle bieren</p></a></li>
      <li><a routerLink="/login" routerLinkActive="active" title="login" class="menu"><p>Login</p></a></li>
    </ul>
  </nav>
</section>
<form class="login" (submit)="loginUser($event)" >
  <input type="text" placeholder="Username" id="username">
  <input type="password" placeholder="password" id="password">
  <a href="#" class="forgot">forgot password?</a>
  <input type="submit" value="Sign In">
  <a href="/register" class="register-btn">Registreer</a>
</form>
<div class="shadow"></div>
