<section class="start">
    <header>
        <section class="container"  id="myHeader">
            <article class="breedte">
                <a href="#" title="logo" class="logo ">MF</a>
                <a href="#" id="hamburger" class="fas fa-ellipsis-v"></a>
                <a href="#" id="cross" class="fas fa-times"></a>
            </article>
            <nav id="navigatie" class="menu">
                <ul>
                    <li><a routerLink="" routerLinkActive="active" title="home" class="menu"><p>Home</p></a></li>
                    <li><a routerLink="/allebieren" routerLinkActive="active" title="About me" class="menu"><p>Alle bieren</p></a></li>
                    <li><a routerLink="/contact" routerLinkActive="active" title="contact" class="menu"><p>Contact</p></a></li>
                </ul>
            </nav>
        </section>
        <!-- <article class="herotext">
            <p class="naam">Welkom in inze webshop</p>
            <p class="job">Webdesign/developement</p>
        </article>-->
        <!-- <article class="arrowcontainer">
             <a href="#about" class="arrow"><span class="fas fa-chevron-circle-down"></span></a>
         </article> -->
        <div id="about"></div>
    </header>

</section>
<router-outlet></router-outlet>
